* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  height: 25px;
}

body {
  background: #141527;
}

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  /* justify-content: center; */
  text-align: center;
  width: 100%;
}
