.articleBox {
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 5px solid #D4E9D9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 5px;
  width: 330px;
}

.articlePic {
  width: 100%;
  height: 50%;
}

.articleLink {
  align-items: center;
  background-color: #252D33;
  border-radius: 5px;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 100%;
}

.articleLink:hover { 
  background-color: #47A499;
}

h4 {
  color: #D4E9D9;
}